- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`
- const includes = (entity, value) => Array.isArray(entity) ? entity.includes(value) : entity === value

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .form-floating.mb-3(class=(errors[propertyName] && 'has-danger'))
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
      placeholder= t(`views.forms.${propertyName}`)
    )&attributes(attributes)
    label(
      for= inputId
    )= t(`views.forms.${propertyName}`)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin textarea(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3
    label(
      for= inputId
    )= t(`views.forms.${propertyName}`)
    textarea.form-control(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      rows='3'
    )&attributes(attributes)= _.get(entity, propertyName, '')
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin select(entities, propertyName, attrsToRender, entityIdsToSelect, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3
    label(
      for= inputId
    )= t(`views.forms.${propertyName}`)
    select.form-control(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
    )&attributes(attributes)
      option
      if !_.isEmpty(entities)
        for entity of entities
          if (includes(entityIdsToSelect, entity.id))
            option(value=entity.id, selected)= attrsToRender.map(attr => entity[attr]).join(' ')
          else
            option(value=entity.id)= attrsToRender.map(attr => entity[attr]).join(' ')
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin filterSelect(entities, propertyName, attrsToRender, entityIdsToSelect)
  - classLine = 'form-control'
  - inputId = getInputId(propertyName)
  .col-12.col-md
    .input-group.mb-3
      label.input-group-text(
        for= inputId
      )= t(`views.forms.${propertyName}`)
      select(
        id= inputId
        name= propertyName
        class= classLine
      )&attributes(attributes)
        option
        if !_.isEmpty(entities)
          for entity of entities
            if (includes(entityIdsToSelect, entity.id))
              option(value=entity.id, selected)= attrsToRender.map(attr => entity[attr]).join(' ')
            else
              option(value=entity.id)= attrsToRender.map(attr => entity[attr]).join(' ')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
