extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
    +formFor()(action=route('tasks') method='post')
        +input(status, 'name', errors)(type="text")
        .mb-3
          label(for="data_description")= t('views.forms.description')
          textarea.form-control(id="data_description", name="data[description]", rows="3")
        .mb-3
          label(for="data_statusId")= t('views.forms.status')
          select.form-control(id="data_statusId", name="data[statusId]")
            each status in statuses
              option
                |= status.name
        .mb-3
          label(for="data_executorId")= t('views.forms.executor')
          select.form-control(id="data_executorId", name="data[executorId]")
            each user in users
              option
                |= user.name
        +submit(status)(value=t('views.tasks.new.submit'))

  
